body {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    background: linear-gradient(0deg, rgba(0, 223, 255, 1) 0%, rgba(0, 171, 255, 1) 25%, rgba(0, 123, 255, 1) 50%, rgba(0, 59, 255, 1) 75%, rgba(0, 11, 255, 1) 100%);

}

img {
    border-radius: 50%;
    width: 400px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

li {
    display: inline;
    margin: 10px;
    width: 150px;
}

.line {
    height: 6px;
    background-color: white;
    width: 180px;
    margin: 8px auto;
}

.menu {
    text-shadow: none;
    display: block;
    list-style: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}


li a:hover {
    background: linear-gradient(180deg, rgba(195,34,34,1) 0%, rgba(253,198,45,1) 25%, rgba(238,253,45,1) 50%, rgba(178,253,45,1) 75%, rgba(45,253,93,1) 100%);
    color: black;
}

#welcome {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 4, 0, 1) 0%, rgba(255, 124, 0, 1) 25%, rgba(255, 209, 0, 1) 50%, rgba(254, 255, 0, 1) 75%, rgba(151, 255, 0, 1) 100%);
    border: solid;
    border-color: black;
    border-width: thick;

}

#about {
    padding: 20px;
    font-size: 25px;
}
